*.db
config.*

old/airo-heat-tool/.vscode
old/airo-heat-tool/bin/Debug/netcoreapp2.1
backend/node_modules
backend/database.db
backend/config.js

database-dev/pruebaAircrack/
database-dev/pruebaKismet/

*.sqlite
