﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Airo-Heat</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="~/visual/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/visual/adminlte/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/visual/adminlte/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="~/visual/adminlte/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="~/visual/adminlte/dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="shortcut icon" href="~/visual/icons/favicon.ico" type="image/x-icon">
  <link rel="icon" href="~/visual/icons/favicon.ico" type="image/x-icon">

</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="mainController">


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> 
<script src="../controllers/principal.js"></script>
<script src="~/visual/adminlte/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/visual/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/visual/adminlte/dist/js/adminlte.min.js"></script>
<script src="~/visual/clientjs/dist/client.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<link rel="stylesheet" type="text/css" href="~/visual/heatmap/style.css">
<script src="https://cdn.rawgit.com/Leaflet/Leaflet.heat/gh-pages/dist/leaflet-heat.js"></script>

 <div>
    @RenderBody()
</div>
</body>
</html>