@model airo_heat_tool.Models.HeatMap;

@{
}
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">
    
    <!-- Logo -->
    <a ng-click="page = 'dir_particles'" class="logo">
      <span class="logo-lg"><b>Index</b></span>
    </a>
   
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>

  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">

        <div class="pull-left image">
          <img src="~/visual/images/foto.jpg" class="img-circle" alt="User Image">
        </div>
      
        <div class="pull-left info" >
          <p>Cybercamp 2018</p>
          <p><b>Airo-Heat</b></p>
        </div>
      
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">

        <li class="header">Airo-Heat Project</li>
        
        <!--  Este no es tree, es uno normal - nos puede servir
        <li><a ng-click="page = 'dir_cmd'"><i class="fa fa-terminal"></i> <span>Old - Command Line</span></a></li> -->
        <li class="treeview">
          <a href="/"><i class="fa fa-fire"></i> <span>Analysis Tools</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <!-- <li><a ng-click="page = 'dir_instid'"><i class="fa fa-circle-o"></i> Get ID</a></li> -->
            <li><a asp-controller="Home" asp-action="Statistics"><i class="fa fa-circle-o"></i> Statistics </a></li>
            <li><a asp-controller="Home" asp-action="HeatMap"><i class="fa fa-circle-o"></i> HeatMap </a></li>
            <li><a asp-controller="Home" asp-action="Enumeration"><i class="fa fa-circle-o"></i> Client Enumeration </a></li>
          </ul>
        </li>

        <li class="header">CONTACT</li>
        <li><a href="https://github.com/T1GR3S/airo-Heat" target="_blank"><i class="fa fa-github-alt"></i> <span>Github</span></a></li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <section class="content-fluid">
      <h2>@ViewData["Title"]</h2>
      <h3>@ViewData["Message"]</h3>
      
      <div class="container">
	    
        <h2>Mapa de calor</h2>
        <br>
        <script src="visual/heatmap/leaflet-heat.js"></script>
        <div id="map"></div>
        <script src="visual/heatmap/leaflet-heat.js"></script>
        
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Total of points</th>
            <th>Start Point</th>
            <th>End point</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="total_points">0</td>
            <td id="start_point">0</td>
            <td id="end_point">0</td>
          </tr>
        </tbody>
        </table>
      </div>
      <ng-include src="'html/'+ page +'.html'"></ng-include>
    </section>

  </div>


</div>
<!-- ./wrapper -->

<script src="//cdn.rawgit.com/Leaflet/Leaflet.heat/gh-pages/dist/leaflet-heat.js"></script>
<script type="text/javascript">

    var addressPoints = [];

    @foreach (var d in Model.seenAPs)
    {
      
        @:addressPoints.push([@d.lat, @d.lon, @d.rssi]);
    }

    var totalPoints = addressPoints.length;
	  var firstPoint = [ addressPoints[0][0], addressPoints[0][1] ];
	  var lastPoint = [ addressPoints[totalPoints-1][0], addressPoints[totalPoints-1][1] ];

    document.getElementById("total_points").innerHTML = totalPoints.toString(); 
	  document.getElementById("start_point").innerHTML = firstPoint.toString(); 
	  document.getElementById("end_point").innerHTML = lastPoint.toString();

    var map = L.map('map').setView(lastPoint, 18);
    var tiles = L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 20,
        minZoom: 9
    }).addTo(map);
    
    var customIcon = L.icon({
        iconUrl: '~/visual/heatmap/punto.png',
        iconSize: [12, 12]
    });

    for (var i = 0; i < addressPoints.length; i++) {    
        var message = "Point "+(i+1).toString()+"<br>Coordinate: ("+addressPoints[i][0].toString()+","+addressPoints[i][1].toString()+") <br>Val: "+addressPoints[i][2].toString();
        marker = new L.marker([addressPoints[i][0],addressPoints[i][1]], {icon: customIcon})
            .bindPopup(message)
            .addTo(map);
    }

    addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
    var heat = L.heatLayer(addressPoints,{ 
    	radius: 25,
        blur: 10, 
        maxZoom: 20,
        max: 1.0,
    	gradient: {
            0.0: 'green',
            0.5: 'yellow',
            1.0: 'red'
        } 
    }).addTo(map);

	

    console.log(addressPoints);

</script>

